:root {
  --light-grey: 75, 85, 99
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "recoleta";
  font-weight: bold;
  src: url("../../public/fonts/Recoleta-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "basier";
  font-weight: regular; 
  src: url("../../public/fonts/BasierCircle-Regular.otf") format('opentype');
}

@font-face {
  font-family: "basier";
  font-weight: bold; 
  src: url("../../public/fonts/BasierCircle-SemiBold.ttf") format('truetype');
}

h2 {
  font-family: 'recoleta';
}

h3 {
  font-family: 'basier';
  color: rgb(var(--light-grey));
}

